<!DOCTYPE html>
<html>
<head>
    <title>juliahentz.com</title>
    <% include ../partials/head.ejs %>

</head>
<body>
<% include ../partials/navmenu %>
<div class="ribbon-contrainer">

</div>
<% include ../partials/footer %>
</body>
</html>