<!DOCTYPE html>
<html>
    <head>
        <title>juliahentz.com</title>
        <% include ../partials/head.ejs %>
        <script src="/js/home.js"></script>

    </head>
    <body>
    <div class="page-container">
    <% include ../partials/navmenu %>
        <div class="ribbon-contrainer">
            <div class="developer-invite-text col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="divider-wrapper">
                <div class="developper-image-wrapper">
                    <div class="designer-image-wrapper">
                        <div class="design-image"></div>
                    </div>
                </div>
            </div>
            <div class="developer-invite-text col-md-4"></div>
        </div>



        <% include ../partials/footer %>
    </div>
    </body>
</html>