<!DOCTYPE html>
<html>
    <head>
        <title>juliahentz.com</title>
        <% include ../partials/head.ejs %>
        <script src="../../js/home.js"></script>

    </head>
    <body>
    <div class="page-container">
    <% include ../partials/navmenu %>
        <div class="ribbon-contrainer">

            <div class="developer-invite-text">
                <h2>HTML / CSS / JavaScript</h2>
                <h4>Do you need design solutions for web or mobile devices?</h4>
                <h1 class="home-title-text-box">Development</h1>
            </div>
            <div class="col-md-4"></div>
            <div class="divider-wrapper">
                <div class="developper-image-wrapper">
                    <div class="designer-image-wrapper">
                        <div class="design-image"></div>
                    </div>
                </div>
            </div>
            <div class="design-invite-text">
                <h1 class="home-title-text-box">Design</h1>
                <h4>Do you have a graphic-design idea, but need inspiration, advice or execution?</h4>
            </div>
        </div>



        <% include ../partials/footer %>
    </div>
    </body>
</html>