<!DOCTYPE html>
<html>
    <head>
        <title>juliahentz.com</title>
        <% include ../partials/head.ejs %>

    </head>
    <body>
        <% include ../partials/navmenu %>
        <div class="content">


        </div>
        <% include ../partials/footer %>
    </body>
</html>