@import "bower_components/bootstrap/less/bootstrap.less";
//@import "bower_components/bootstrap/less/theme.less";
@import "bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "bower_components/font-awesome/fonts";

/* Component LESS */
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}

body {

  background-color: #f3eadb;
  font-family: 'Lato', sans-serif;

}

.main-menu-bar{

  background-color: #3a0f2b;
  width: 100%;
  overflow: auto;
  color: #fff;
  font-size: 16px;
  box-shadow: 0px 1px 10px #220e1a;
  text-shadow: 3px 3px 10px #220e1a, 6px 6px 20px #220e1a;
  padding:10px;
  z-index: 1;
  position: relative;

}

.menu-button{

  display: inline-block;

}

.menu-button::before{

  content: '';
  position: absolute;
  top: 0;
  overflow: visible;
  width: 40px;
  height: 47px;
  z-index: -1;
  -webkit-transform: skewX(-23deg);
  -moz-transform: skewX(-23deg);
  -ms-transform: skewX(-23deg);
  -o-transform: skewX(-23deg);
  transform: skewX(-23deg);
  -webkit-backface-visibility: hidden;
  box-shadow: 5px 0px 10px #220e1a;
  background: #3a0f2b; /* Old browsers */
  background: -moz-linear-gradient(180deg, #3a0f2b 35%, #5e1846 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(180deg, #3a0f2b 35%,#5e1846 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(90deg, #3a0f2b 35%,#5e1846 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a0f2b', endColorstr='#5e1846',GradientType=0 ); /* IE6-9 */

}

.navigation-buttons{

  float: right;
  margin-top: 2px;
  margin-right: 50px;
  letter-spacing: 15px;

}

.icon-disc {

  position: relative;
  left: 55px;

}

.icon-grid{

  position: relative;
  left: 55px;

}
.icon-head{

  position: relative;
  left: 55px;

}
.icon-speech-bubble{

  position: relative;
  left: 55px;

}

#home-button {

  float: left;
  font-weight: 100;
  letter-spacing: 5px;
  display: inline-block;

}

#juliahentz{

  margin-left: 50px;

}

#hentz{

  font-weight: 400;
  letter-spacing: 2px;

}
