<!DOCTYPE html>
<html>
    <head>
        <title>juliahentz.com</title>
        <% include ../../partials/head.ejs %>

    </head>
    <body>
        <div class="content">


            <% include ../../partials/navmenu %>

            <% include ../../partials/footer %>
        </div>
    </body>
</html>