<div class="main-menu-bar">
    <div class="menu-button" id="home-button"><span id="juliahentz">julia<span id="hentz">hentz</span></span></div>
    <div class="navigation-buttons">
        <% for(var i=0; i<icons.length; i++){ %>

            <div class="menu-button">
                <div class="nav-iconset">
                    <div class="icons">
                        <a href="<%= icons[i].route %>"><div class="<%= icons[i].icon %>"></div></a>
                    </div>
                </div>
                <div class="nav-labelset">
                    <a href="<%= icons[i].route %>"><div class="menu-label"><%= icons[i].name %></div></a>
                </div>
            </div>

        <% } %>
    </div>
</div>
