<div class="main-menu-bar">
    <div class="menu-button" id="home-button"><span id="juliahentz">julia<span id="hentz">hentz</span></span></div>
    <div class="navigation-buttons">
        <div class="menu-button" ><div class="icon-disc"></div></div>
        <div class="menu-button" ><div class="icon-image"></div></div>
        <div class="menu-button" ><div class="icon-air-play"></div></div>
        <div class="menu-button" ><div class="icon-head"></div></div>
        <div class="menu-button" ><div class="icon-speech-bubble"></div></div>
    </div>
</div>