<div class="main-menu-bar">
    <div class="menu-button" id="home-button"><span id="juliahentz">julia<span id="hentz">hentz</span></span></div>
    <div class="navigation-buttons">
        <div class="menu-button" ui-sref="home"><div class="icon-disc"></div></div>
        <div class="menu-button" ui-sref="projects"><div class="icon-grid"></div></div>
        <div class="menu-button" ui-sref="about"><div class="icon-head"></div></div>
        <div class="menu-button" ui-sref="contact"><div class="icon-speech-bubble"></div></div>
    </div>
</div>