<div>

    <h1 class="page-title">Design Projects</h1>
    <div class="btn btn-success new-project-modal-btn" ng-click="createProject(project)">New</div>

    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Published</th>
            <th>Image URL</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>
                Project Title
            </td>
            <td>
                This is a description
            </td>
            <td>
                Date
            </td>
            <td>
                link
            </td>
            <td>
                <div>Edit</div>
                <div>Remove</div>
            </td>
        </tr>
    </table>

</div>
